langchain
langchain-community==0.3.7
langchain-openai
openai
chromadb
rank-bm25
sentence-transformers
pypdf
huggingface-hub
streamlit
ragas==0.2.6
datasets
langsmith
python-dotenv
tiktoken
numpy
pandas
langchain-google-vertexai==0.1.0