langchain
langchain-community==0.3.27
langchain-openai
openai
chromadb
rank-bm25
sentence-transformers
pypdf
huggingface-hub
streamlit
ragas==0.2.10
datasets
langsmith
python-dotenv
tiktoken
numpy
pandas
